@import "compass/css3";

.background-image{
  background-image: url(http://www.placecage.com/200/300);
  @include background-size(cover);
  width: 200px;
  height: 300px;

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    background-image: url(http://www.placecage.com/400/600);
  }
}


@media (min-width: 600px) {
  .background-image{
    background-image: url(http://www.placecage.com/600/600);
    width: 600px;
    height: 600px;
  }
}
