/* line 3, ../sass/_background_image.scss */
.background-image {
  background-image: url(http://www.placecage.com/200/300);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 200px;
  height: 300px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 3, ../sass/_background_image.scss */
  .background-image {
    background-image: url(http://www.placecage.com/400/600);
  }
}

@media (min-width: 600px) {
  /* line 21, ../sass/_background_image.scss */
  .background-image {
    background-image: url(http://www.placecage.com/600/600);
    width: 600px;
    height: 600px;
  }
}
/* line 1, ../sass/_svg_image.scss */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

/* line 10, ../sass/_svg_image.scss */
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
